Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: ğŸ Main Package, ğŸš— Driver Package, ğŸ“¡ gRPC Factory Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package, ğŸ”– Constants Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 30%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 40%
        threshold: 40%
  ignore:
  - "pkg/mock/*"

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: ğŸ  Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: ğŸš— Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: ğŸ“¡ gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: iam-client-package
      name: ğŸ” IAM Client Package
      paths:
        - pkg/clients/iam/**
    - component_id: s3-client-package
      name: ğŸŒ S3 Client Package
      paths:
        - pkg/clients/s3/**
    - component_id: util-package
      name: ğŸ”§ Util Package
      paths:
        - pkg/util/**
    - component_id: constants-package
      name: ğŸ”– Constants Package
      paths:
        - pkg/constants/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

add new cosi provider
  .github/scripts/setup_cosi_resources.sh
Due: none

kustomize update for metrics services
  cmd/scality-cosi-driver/cmd.go
  kustomize/base/deployment.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/metrics-service.yaml
  kustomize/base/rbac.yaml
Due: ğŸ Main Package

Added metrics tests to help as well
  .github/workflows/helm-validation.yml
Due: none

List all in coss namespace
  .github/scripts/setup_cosi_resources.sh
Due: none

removed files from codecov
  .github/workflows/build-and-unit-tests.yml
Due: none

fetch metrics
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated tests for metrics
  .github/scripts/e2e_tests_metrics.sh
  .github/scripts/metrics.sh
Due: none

added service for helm
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/templates/service.yaml
  helm/scality-cosi-driver/values.yaml
Due: none

done with e2e tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

made metrics e2e configurable
  .github/scripts/e2e_tests_metrics.sh
  .github/workflows/e2e-feature-tests.yml
  .github/workflows/helm-validation.yml
Due: none

updated output for metrics script
  .github/scripts/e2e_tests_metrics.sh
Due: none

added local script and e2e metrics update
  .github/scripts/e2e_tests_metrics.sh
  .github/scripts/local_metrics.sh
Due: none

Updated test name for help
  .github/workflows/helm-validation.yml
Due: none

update healthcheck route
  .github/workflows/helm-validation.yml
Due: none

add tests for failed registry
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

Added tests for addr
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

context cancelled unit test
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

added last errchan test for server.go
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

remove redundant test
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

Update codecov with metrics server
  codecov.yml
Due: none

metrics test file
  pkg/metrics/metrics_test.go
Due: none

added some metrics tests
  pkg/metrics/metrics_test.go
Due: none

metrics tests complete
  pkg/metrics/metrics_test.go
Due: none

add ctx to s3 client init
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: ğŸš— Driver Package, ğŸŒ S3 Client Package

add ctx to init iam client
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: ğŸš— Driver Package, ğŸ” IAM Client Package

change method name for inline policy
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
Due: ğŸ” IAM Client Package

updated metrics for s3 and iam
  .github/scripts/e2e_tests_metrics.sh
  cmd/scality-cosi-driver/cmd.go
  pkg/clients/s3/s3_client.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: ğŸ Main Package, ğŸŒ S3 Client Package

e2e tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated unit tests
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl_test.go
Due: ğŸš— Driver Package, ğŸŒ S3 Client Package

e2e update
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated e2e
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated e2e tests to have 1 time fetch
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated e2e tests with valid file for 2nd test
  .github/scripts/e2e_tests_metrics.sh
Due: none

add s3 client metrics
  cmd/scality-cosi-driver/cmd.go
  pkg/clients/s3/s3_client.go
  pkg/metrics/metrics.go
Due: ğŸ Main Package, ğŸŒ S3 Client Package

followup on unit tests
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/metrics/metrics_test.go
Due: ğŸš— Driver Package, ğŸŒ S3 Client Package

updated e2e tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

removed _ from prefix
  cmd/scality-cosi-driver/cmd.go
  helm/scality-cosi-driver/values.yaml
  kustomize/base/deployment.yaml
  pkg/metrics/metrics_test.go
Due: ğŸ Main Package

updated e2e tests with file not found
  .github/scripts/e2e_tests_metrics.sh
Due: none

added quotes for commands
  .github/scripts/e2e_tests_metrics.sh
Due: none
