Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: 🏠 Main Package, 🚗 Driver Package, 📡 gRPC Factory Package, 🔧 Util Client Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 100%
        threshold: 75%

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: 🏠 Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: 🚗 Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: 📡 gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: util-client-package
      name: 🔧 Util Client Package
      paths:
        - pkg/util/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

COSI-40: add-test-for-debug-log-in-aws-config
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client_test.go
Due: none

COSI-40: revoke-bucket-access-api-implementation
  pkg/clients/iam/iam_client.go
Due: none

COSI-32: ignore-cleanup-step-on-failure
  .github/workflows/ci-e2e-tests.yml
Due: none

COSI-25: add-unit-tests
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/mock/mock_s3.go
Due: 🚗 Driver Package

COSI-32: add-e2e-tests-for-delete-bucket
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests.sh
  cosi-examples/bucketclaim-deletion-policy.yaml
  cosi-examples/bucketclass-deletion-policy.yaml
Due: none

COSI-25: implement-delete-bucket-API
  pkg/clients/s3/s3_client.go
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-25: refactor-tests-for-provisioner-server
  .github/scripts/e2e_tests.sh
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-35: move-helper-methods-below-driver-apis
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-35: update-provisioner-with-higher-level-logs
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-35: update-logging-for-s3-client
  pkg/clients/s3/s3_client.go
Due: none

COSI-35: added-constants-package-to-codecov
  codecov.yml
Due: none

COSI-35 update-logging-for-iam-client
  pkg/clients/iam/iam_client.go
Due: none

COSI-35: add-request-to-trace-logs
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-35: switch-log-level-to-contants
  pkg/clients/iam/iam_client.go
  pkg/constants/constants.go
  pkg/constants/constants_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/util/storage_client.go
Due: 🚗 Driver Package, 🔧 Util Client Package

COSI-35: changed-default-production-logging-level
  helm/scality-cosi-driver/values.yaml
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none

COSI-35: add-comments-for-log-levels
  helm/scality-cosi-driver/values.yaml
  kustomize/overlays/debug/scality-cosi-driver.properties
  kustomize/overlays/dev/scality-cosi-driver.properties
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none

COSI-35: remove-log-checks-from-unit-tests
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client_test.go
Due: none

COSI-74: send-error-for-brown-field-use-case
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-75: add-brownfield-custom-resources
  cosi-examples/brownfield/bucket.yaml
  cosi-examples/brownfield/bucketaccess.yaml
  cosi-examples/brownfield/bucketaccessclass.yaml
  cosi-examples/brownfield/bucketclaim.yaml
  cosi-examples/brownfield/bucketclass.yaml
Due: none

COSI-75: e2e-test-for-brown-field-scenario
  .github/scripts/e2e_tests_brownfield_use_case.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  .github/workflows/ci-e2e-tests.yml
Due: none

COSI-75: re-organize-greenfield-custom-resources
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  cosi-examples/greenfield/bucketaccess.yaml
  cosi-examples/greenfield/bucketaccessclass.yaml
  cosi-examples/greenfield/bucketclaim-deletion-policy.yaml
  cosi-examples/greenfield/bucketclaim.yaml
  cosi-examples/greenfield/bucketclass-deletion-policy.yaml
  cosi-examples/greenfield/bucketclass.yaml
  docs/driver-params.md
Due: none

enabled prometheus metrics
  cmd/scality-cosi-driver/cmd.go
  cmd/scality-cosi-driver/main.go
  go.mod
  go.sum
  pkg/metrics/metrics.go
Due: 🏠 Main Package

instrumented grpc
  go.mod
  go.sum
  pkg/grpcfactory/server.go
  pkg/metrics/metrics.go
Due: 📡 gRPC Factory Package

Instrumented gRPC server with Prometheus exporter
  go.mod
  go.sum
  pkg/grpcfactory/server.go
Due: 📡 gRPC Factory Package

Add metrics package for Prometheus instrumentation
  go.mod
  go.sum
  pkg/constants/constants.go
  pkg/metrics/metrics.go
Due: none

Integrate Prometheus metrics server in COSI driver
  cmd/scality-cosi-driver/cmd.go
  cmd/scality-cosi-driver/main.go
  pkg/constants/constants.go
Due: 🏠 Main Package

Metrics package unit tests
  pkg/metrics/metrics_test.go
Due: none

Add metrics package to Codecov configuration
  codecov.yml
Due: none

[squash post review 1] verify bucket is retained
  .github/scripts/e2e_tests_brownfield_use_case.sh
Due: none

Add Prometheus metrics for S3 and IAM requests
  pkg/metrics/metrics.go
Due: none

Add Prometheus metrics instrumentation for S3 ops
  pkg/clients/s3/s3_client.go
  pkg/constants/constants.go
Due: none

Add Prometheus metrics instrumentation for IAM ops
  pkg/clients/iam/iam_client.go
Due: none

Added unit tests for IAM and S3 metrics
  pkg/metrics/metrics_test.go
Due: none

Add documentation for metrics overview
  docs/metrics-overview.md
Due: none

Expose metrics service in Kubernetes
  kustomize/base/deployment.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/metrics-service.yaml
  kustomize/base/rbac.yaml
  kustomize/overlays/dev/kustomization.yaml
Due: none

Add metrics service to helm chart
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/templates/service.yaml
  helm/scality-cosi-driver/values.yaml
Due: none

Add end-2-end tests for metrics service
  .github/scripts/e2e_tests_metrics_service.sh
  .github/workflows/ci-e2e-tests.yml
Due: none

fixup post review 1
  .github/workflows/ci-e2e-tests.yml
Due: none

debug commit
  .github/scripts/e2e_tests_metrics_service.sh
Due: none
