Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: ğŸ Main Package, ğŸš— Driver Package, ğŸ“¡ gRPC Factory Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package, ğŸ”– Constants Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 30%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 40%
        threshold: 40%
  ignore:
  - "pkg/mock/*"

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: ğŸ  Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: ğŸš— Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: ğŸ“¡ gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: iam-client-package
      name: ğŸ” IAM Client Package
      paths:
        - pkg/clients/iam/**
    - component_id: s3-client-package
      name: ğŸŒ S3 Client Package
      paths:
        - pkg/clients/s3/**
    - component_id: util-package
      name: ğŸ”§ Util Package
      paths:
        - pkg/util/**
    - component_id: constants-package
      name: ğŸ”– Constants Package
      paths:
        - pkg/constants/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

COSI-75: re-organize-greenfield-custom-resources
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  cosi-examples/greenfield/bucketaccess.yaml
  cosi-examples/greenfield/bucketaccessclass.yaml
  cosi-examples/greenfield/bucketclaim-deletion-policy.yaml
  cosi-examples/greenfield/bucketclaim.yaml
  cosi-examples/greenfield/bucketclass-deletion-policy.yaml
  cosi-examples/greenfield/bucketclass.yaml
  docs/driver-params.md
Due: none

Metrics package unit tests
  pkg/metrics/metrics_test.go
Due: none

Instrumented gRPC server with Prometheus exporter
  go.mod
  go.sum
  pkg/grpcfactory/server.go
Due: ğŸ“¡ gRPC Factory Package

Integrate Prometheus metrics server in COSI driver
  cmd/scality-cosi-driver/cmd.go
  cmd/scality-cosi-driver/main.go
  pkg/constants/constants.go
Due: ğŸ Main Package, ğŸ”– Constants Package

Add metrics package for Prometheus instrumentation
  go.mod
  go.sum
  pkg/constants/constants.go
  pkg/metrics/metrics.go
Due: ğŸ”– Constants Package

Add metrics package to Codecov configuration
  codecov.yml
Due: none

[fixup post review 1] use go-grpc-middleware
  go.mod
  go.sum
  pkg/grpcfactory/server.go
Due: ğŸ“¡ gRPC Factory Package

[fixup post review 1.2] share regiustry metrrics
  cmd/scality-cosi-driver/cmd.go
  pkg/grpcfactory/server.go
  pkg/metrics/metrics.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

added checkpoint
  pkg/grpcfactory/server.go
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

Add default prometheus and grpc metrics
  cmd/scality-cosi-driver/cmd.go
  pkg/grpcfactory/server.go
  pkg/metrics/metrics.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

go.mod packge dep update
  go.mod
  go.sum
Due: none

try to reduce ci time
  .github/workflows/ci-e2e-tests.yml
Due: none

Improve signal handling for shutdown
  cmd/scality-cosi-driver/main.go
  pkg/grpcfactory/server_test.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

revert test edit
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

update current unit tests
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

add codecov and E2E tests badges
  README.md
Due: none

update on readme
  README.md
Due: none

added more CI badges
  README.md
Due: none

updated readme badges 2
  README.md
Due: none

centered badges
  README.md
Due: none

updated readme with default brnahces and codeql badge
  README.md
Due: none

added go reference badge image
  .github/images/godoc.svg
Due: none

added codeqel config
  .github/workflows/codeql.yml
Due: none

removed codeql
  .github/workflows/codeql.yml
Due: none

updated badges
  README.md
Due: none

rename workflows
  .github/workflows/build-and-unit-tests.yml
  .github/workflows/e2e-feature-tests.yml
  .github/workflows/helm-validation.yml
Due: none

updated read me
  README.md
Due: none

update readme with breach dev/all-tasks for badges
  README.md
Due: none

update branch to main for automated CIs
  README.md
Due: none

add docs for metrics local grpccurl and curl
  docs/development/run-cosi-driver-locally.md
Due: none

add script for checking gprc metrics - working locally
  .github/scripts/metrics.sh
Due: none

remove duplicate log from scipts
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

print command in CI
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests_brownfield_use_case.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

Add coverage file to codecov so there is no miss
  .github/workflows/build-and-unit-tests.yml
Due: none

increase timeout
  .github/scripts/setup_cosi_resources.sh
Due: none

add metrics workflow
  .github/scripts/e2e_tests_metrics.sh
  .github/workflows/e2e-feature-tests.yml
Due: none

updated repos for cosi controller
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

use unified cosi resource kustumize
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

debug commit
  .github/scripts/setup_cosi_resources.sh
Due: none

debug 2
  .github/scripts/setup_cosi_resources.sh
Due: none
