Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: 🏠 Main Package, 🚗 Driver Package, 📡 gRPC Factory Package, 🔧 Util Client Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 100%
        threshold: 75%

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: 🏠 Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: 🚗 Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: 📡 gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: util-client-package
      name: 🔧 Util Client Package
      paths:
        - pkg/util/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

COSI-44: add-tests-for-grpc-factory-interceptors.go
  pkg/grpcfactory/grpc_factory.go
  pkg/grpcfactory/interceptors.go
  pkg/grpcfactory/interceptors_test.go
Due: 📡 gRPC Factory Package

COSI-44: rename-driver-test-suite
  pkg/driver/driver_suite_test.go
Due: 🚗 Driver Package

COSI-44: add-tests-for-grpc-factory.go
  pkg/grpcfactory/grpc_factory_test.go
Due: 📡 gRPC Factory Package

COSI-44: update-packages-using-go-mod-tidy
  go.mod
  go.sum
Due: none

COSI-44: switch-to-local-provisioner-server
  cmd/scality-cosi-driver/cmd.go
Due: 🏠 Main Package

COSI-44: add-provisioner-server(copied from sigs)
  pkg/provisioner/client.go
  pkg/provisioner/interceptors.go
  pkg/provisioner/provisioner.go
  pkg/provisioner/server.go
Due: none

COSI-44: add-tests-for-grpc-factory-client.go
  pkg/grpcfactory/client_test.go
Due: 📡 gRPC Factory Package

COSI-44: refactor-grpc-factory
  pkg/grpcfactory/client.go
  pkg/grpcfactory/grpc_factory.go
  pkg/grpcfactory/interceptors.go
  pkg/grpcfactory/server.go
Due: 📡 gRPC Factory Package

COSI-44: rename-provisioner-to-grpcfactory
  cmd/scality-cosi-driver/cmd.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/grpcfactory/client.go
  pkg/grpcfactory/grpc_factory.go
  pkg/grpcfactory/interceptors.go
  pkg/grpcfactory/server.go
Due: 🏠 Main Package, 🚗 Driver Package, 📡 gRPC Factory Package

COSI-44: add-tests-for-grpc-factory-server.go
  pkg/grpcfactory/grpc_factory_suite_test.go
  pkg/grpcfactory/server_test.go
Due: 📡 gRPC Factory Package

COSI-44: move-production-overlay
  kustomization.yaml
  kustomize/overlays/production/kustomization.yaml
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none

COSI-44: move-to-production-overlay
  kustomization.yaml
  kustomize/overlays/production/kustomization.yaml
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none

COSI-34 add-delve-debug-overlay
  kustomize/overlays/debug/deployment.yaml
  kustomize/overlays/debug/kustomization.yaml
Due: none

COSI-34: add-debug-dockerfile-and-docs
  docker/delve/Dockerfile
  docs/development/remote-debugging-golang-on-kubernetes.md
Due: none

COSI-63: set lower thresholds for codecov
  codecov.yml
Due: none

COSI-34 add-delve-debug-overlay
  Makefile
  kustomize/overlays/debug/deployment.yaml
  kustomize/overlays/debug/kustomization.yaml
Due: none

COSI-34: reduce-image-size
  .dockerignore
Due: none

COSI-45: add log message for driver info
  pkg/driver/identity.go
Due: 🚗 Driver Package

added local dev guide
  docs/development/dev-local-setup.md
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/dev/namespace.yaml
  kustomize/overlays/dev/rbac.yaml
  kustomize/overlays/dev/scality-cosi-driver.properties
  kustomize/overlays/dev/serviceaccount.yaml
  proto/cosi.proto
Due: none

Added docs for local dev
  docs/development/dev-local-setup.md
  docs/development/run-cosi-driver-locally.md
Due: none

added properties for debug
  kustomize/overlays/debug/scality-cosi-driver.properties
Due: none

update overlays for dev
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/dev/namespace.yaml
  kustomize/overlays/dev/rbac.yaml
  kustomize/overlays/dev/serviceaccount.yaml
Due: none

COSI-67: Add-proto-file-for-COSI-v1alpha1(copied)
  proto/cosi.proto
Due: none

COSI-67: add-dev-docs-and-overlay
  docs/development/run-cosi-driver-locally.md
  kustomize/overlays/debug/scality-cosi-driver.properties
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/dev/scality-cosi-driver.properties
Due: none

COSI-67: add-driver-paramerets-doc
  docs/driver-params.md
Due: none

COSI-44: udpate-test-suite-names
  pkg/driver/driver_suite_test.go
  pkg/grpcfactory/grpc_factory_suite_test.go
Due: 🚗 Driver Package, 📡 gRPC Factory Package
