Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: 🏠 Main Package, 🚗 Driver Package, 📡 gRPC Factory Package, 🔧 Util Client Package

COSI-39: add-default-case-for-service
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-39: unit-test-coverage
  pkg/clients/s3/s3_client.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-41: expand-e2e-tests-for-bucket-access
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_test_bucket_creation.sh
Due: none

COSI-41: rename-e2e-test-script-to-generalize
  .github/scripts/e2e_tests.sh
  .github/workflows/ci-e2e-tests.yml
  docs/development/dev-container-setup.md
Due: none

COSI-40: use-bucket-name-for-in-line-policy-name
  .github/scripts/e2e_tests.sh
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-45: Implement RevokeBucketAccess method
  pkg/clients/iam/iam_client.go
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-40: iam-client-revoke-bucket-access-unit-tests
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-40: added-unit-test-scenarios-for-iam-client
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

need rework of mocks
  pkg/driver/driver_revoke_bucket_access_test.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

unit tests passing
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

ingore mocks for tests
  codecov.yml
Due: none

refactor s3 client to use s3 mock and add s3 mock
  pkg/clients/s3/s3_client_test.go
  pkg/mock/mock_s3.go
Due: none

updated mock in provisioner implementation
  pkg/driver/provisioner_server_impl_test.go
  pkg/mock/mock_iam.go
  pkg/mock/mock_kubernetes.go
Due: 🚗 Driver Package

add iam mock and update iam client tests
  pkg/clients/iam/iam_client_test.go
  pkg/mock/mock_iam.go
Due: none

added IAM mock to provisioner test
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

remove mock from provisioner
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

updated intenal error test
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

updated e2e tests
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests.sh
Due: none

updated error message
  .github/scripts/e2e_tests.sh
Due: none

seperation of concerns
  pkg/clients/iam/iam_client.go
Due: none

updated IAM client to add helper functions for revoke access
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-72: exclude-mock-pkg-from-codecov
  codecov.yml
Due: none

COSI-72: add-mock-package-and-use-s3-common-mock
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/mock/mock_s3.go
Due: 🚗 Driver Package

COSI-72: add-and-use-common-iam-mock
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/mock/mock_iam.go
Due: 🚗 Driver Package

COSI-62: improve-tests-and-refactor-for-coverage
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/grpcfactory/client_test.go
  pkg/grpcfactory/grpc_factory_test.go
  pkg/grpcfactory/interceptors_test.go
  pkg/grpcfactory/server_test.go
  pkg/mock/mock_iam.go
Due: 🚗 Driver Package, 📡 gRPC Factory Package

COSI-40: remove-prefix-from-IAM-user-inline-policy
  .github/scripts/e2e_tests.sh
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-40: revoke-bucket-access-api-implementation
  pkg/clients/iam/iam_client.go
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

COSI-52: e2e-test-for-revoke-bucket-access
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests.sh
Due: none

COSI-40: add-unit-tests-for-revoke-bucket-access
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/mock/mock_iam.go
Due: 🚗 Driver Package

cosi-ba prefic removal fixuop
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

updated IAM tests for missing coverage
  pkg/clients/iam/iam_client_test.go
Due: none

refactored IAM client tests
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-40: add-test-for-debug-log-in-aws-config
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client_test.go
Due: none

COSI-72: use-specTimeout-for-grpc-server-tests
  pkg/grpcfactory/server_test.go
Due: 📡 gRPC Factory Package

COSI-40: remove-prefix-from-IAM-user-inline-policy
  .github/scripts/e2e_tests.sh
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-40: add-graceful tests
  pkg/clients/iam/iam_client_test.go
Due: none

COSI-40: ignore-failure-if-access-key-deleted-in-flight
  pkg/clients/iam/iam_client.go
Due: none

Path conditions:
  🏠 Main Package: any of: cmd/**
  🚗 Driver Package: any of: pkg/driver/**
  📡 gRPC Factory Package: any of: pkg/grpcfactory/**
  🔧 Util Client Package: any of: pkg/util/**
