Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: ğŸ Main Package, ğŸš— Driver Package, ğŸ“¡ gRPC Factory Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package, ğŸ”– Constants Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 30%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 40%
        threshold: 40%
  ignore:
  - "pkg/mock/*"

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: ğŸ  Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: ğŸš— Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: ğŸ“¡ gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: iam-client-package
      name: ğŸ” IAM Client Package
      paths:
        - pkg/clients/iam/**
    - component_id: s3-client-package
      name: ğŸŒ S3 Client Package
      paths:
        - pkg/clients/s3/**
    - component_id: util-package
      name: ğŸ”§ Util Package
      paths:
        - pkg/util/**
    - component_id: constants-package
      name: ğŸ”– Constants Package
      paths:
        - pkg/constants/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

debug-commit
  .github/scripts/verify_helm_install.sh
Due: none

updated option in help
  helm/scality-cosi-driver/templates/deployment.yaml
Due: none

udpated helm validation with logs uplod
  .github/workflows/helm-validation.yml
Due: none

no e2e tests in helm basic only
  .github/workflows/helm-validation.yml
Due: none

COSI-53: Parallelize steps and add if: always
  .github/workflows/ci-e2e-tests.yml
Due: none

COSI-53 Rename CI workflows for clarity
  .github/workflows/build-and-unit-tests.yml
  .github/workflows/e2e-feature-tests.yml
  .github/workflows/helm-validation.yml
Due: none

COSI-53: Set GOCOVERDIR for codecov to reduce failurs
  .github/workflows/build-and-unit-tests.yml
Due: none

COSI-53: update-COSI-repositories
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

COSI-53: update-cmds-to-print-in-github-ui-and-log
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/e2e_tests_greenfield_use_case.sh
  .github/scripts/setup_cosi_resources.sh
Due: none

COSI-65: Add unit tests for metrics and server pkg
  pkg/grpcfactory/server_test.go
  pkg/metrics/metrics_test.go
Due: ğŸ“¡ gRPC Factory Package

COSI-65: dependency update (go mod tidy)
  go.mod
  go.sum
Due: none

COSI-46: Add service for metrics in kustomize
  kustomize/base/deployment.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/metrics-service.yaml
  kustomize/base/rbac.yaml
Due: none

COSI-65: instrument-metrics-for-grpc-api-calls
  cmd/scality-cosi-driver/cmd.go
  pkg/grpcfactory/server.go
  pkg/metrics/metrics.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

COSI-65: Update existing unit tests
  pkg/grpcfactory/server_test.go
Due: ğŸ“¡ gRPC Factory Package

COSI-46: Add service for metrics in helm chart
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/templates/service.yaml
  helm/scality-cosi-driver/values.yaml
Due: none

COSI-65: Test metrics in e2e and helm deployments
  .github/scripts/e2e_tests_metrics.sh
  .github/workflows/e2e-feature-tests.yml
  .github/workflows/helm-validation.yml
Due: none

COSI-65: Update local development docs for metrics
  docs/development/run-cosi-driver-locally.md
Due: none

COSI-65: Update driver inputs and CI
  .github/scripts/e2e_tests_metrics.sh
  .github/workflows/e2e-feature-tests.yml
  .github/workflows/helm-validation.yml
  cmd/scality-cosi-driver/cmd.go
  docs/metrics-overview.md
  pkg/grpcfactory/server.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

COSI-21: Add docs for metrics and driver params
  docs/driver-params.md
  docs/metrics-overview.md
Due: none

COSI-55: improve graceful shutdown in main.go
  cmd/scality-cosi-driver/main.go
Due: ğŸ Main Package

COSI-73: update errors with aws errors in unit tests
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client_test.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package

COSI-19: refactor; use shared ctx in init clients
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: ğŸš— Driver Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package

COSI-19: add S3 and IAM metrics
  cmd/scality-cosi-driver/cmd.go
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/prometheus_middleware.go
  pkg/metrics/prometheus_middleware_test.go
Due: ğŸ Main Package, ğŸš— Driver Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package

COSI-19: renamed inline policy method for clarity
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
Due: ğŸ” IAM Client Package

COSI-21: Add docs for s3 and iam metrics
  docs/metrics-overview.md
Due: none

COSI-19: add e2e tests for s3 and iam metrics
  .github/scripts/e2e_tests_metrics.sh
Due: none

COSI-61: instrument gprc otel traces
  cmd/scality-cosi-driver/cmd.go
  pkg/grpcfactory/server.go
  pkg/metrics/metrics.go
  pkg/metrics/prometheus_middleware.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

COSI-61: dependency update (go mod tidy)
  go.mod
  go.sum
Due: none

COSI-61: update unit tests for prom middleware
  pkg/metrics/prometheus_middleware_test.go
Due: none

COSI-61: Add helm and kustoimze options for traces
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/values.yaml
  kustomize/base/deployment.yaml
Due: none

COSI-20: update CI pipeline for traces on stdout
  .github/scripts/e2e_tests_metrics.sh
  .github/scripts/setup_cosi_resources.sh
  .github/scripts/verify_helm_install.sh
  .github/workflows/helm-validation.yml
Due: none

COSI-61: synthetic docs update for clarity
  docs/metrics-overview.md
Due: none

COSI-51: instrument s3 and iam with otelaws
  go.mod
  go.sum
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package

COSI-61: Add defaults for driver trace options
  cmd/scality-cosi-driver/cmd.go
Due: ğŸ Main Package

updated CMD method
  cmd/scality-cosi-driver/cmd.go
Due: ğŸ Main Package

enable debug logs
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none

remove traceID from labels
  pkg/metrics/metrics.go
  pkg/metrics/prometheus_middleware.go
Due: none

fixup
  kustomize/overlays/production/scality-cosi-driver.properties
Due: none
