Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: ğŸ Main Package, ğŸš— Driver Package, ğŸ“¡ gRPC Factory Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package, ğŸ”– Constants Package

Auto approve dependabot PRs
  .github/workflows/dependabot.yaml
Due: none

Groups and config update for dependabot
  .github/dependabot.yml
Due: none

Switch deprecated reviewers to CODEOWNERS for dependabot
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

COSI-89: Update e2e with kustomize to run on Cloudserver 9.4 and 9.5
  .github/s3_and_iam_deployment/.env
  .github/workflows/kustomize-validation.yml
Due: none

COSI-89: Update helm validation CI to run on Cloudserver 9.4 and 9.5
  .github/workflows/helm-validation.yml
Due: none

COSI-89: Update name of the tests to make it look better for the CI
  .github/workflows/helm-validation.yml
  .github/workflows/kustomize-validation.yml
Due: none

COSI-84: Update bucket name format in docs
  docs/Usage.md
Due: none

COSI-90: Add documentation for RING compatibility
  README.md
  docs/installation/install-helm.md
Due: none

COSI-86: Resolve infinite retry loops in provisioner server for S3 buckets
  pkg/driver/provisioner_server_impl.go
Due: ğŸš— Driver Package

COSI-86: Resolve infinite retry loops in provisioner server for IAM users/keys
  pkg/driver/provisioner_server_impl.go
Due: ğŸš— Driver Package

COSI-86: Update unit tests to handle more errors for S3 and IAM
  pkg/driver/provisioner_server_impl_test.go
Due: ğŸš— Driver Package

upstream notes
  COSI-86-INFINITE-RETRY-FIX.md
  build-fixed-sidecar.md
  github-issue-description.md
  sidecar-patch/bucket_listener.go
  upstream-contribution-plan.md
  upstream-fix-proposal.md
  upstream-sidecar-patch.patch
Due: none

COSI-86: Centralize Object Storage Provider error handling
  pkg/constants/constants.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/osperrors/errors.go
  pkg/osperrors/errors_test.go
  pkg/osperrors/iam_errors.go
  pkg/osperrors/iam_errors_test.go
  pkg/osperrors/osperrors_suite_test.go
  pkg/osperrors/s3_errors.go
  pkg/osperrors/s3_errors_test.go
Due: ğŸš— Driver Package, ğŸ”– Constants Package

COSI-86: Add locally generated coverage report to .gitignore
  .gitignore
Due: none

S3CSI-86: Create a seperate tracking package for codecov
  codecov.yml
Due: none

Add comprehensive CI/CD documentation for Scality COSI Driver
  docs/ci-documentation.md
Due: none

Added answers to some questions
  README.md
  docs/FAQ.md
  docs/bucket-not-empty-retry-options.md
Due: none

COSI-98: Pin COSI install to v1alpha1 (v0.2.2)
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/setup_cosi_resources.sh
  .github/workflows/helm-validation.yml
  README.md
  docs/installation/install-helm.md
Due: none

COSI-98: Pin ginkgo CLI to v2.22.2 in unit-test workflow
  .github/workflows/build-and-unit-tests.yml
Due: none

COSI-99: quote COSI controller install URL for cross-shell compatibility
  .github/scripts/cleanup_cosi_resources.sh
  .github/scripts/setup_cosi_resources.sh
  .github/workflows/helm-validation.yml
  README.md
  docs/installation/install-helm.md
Due: none

Path conditions:
  ğŸ Main Package: any of: cmd/**
  ğŸš— Driver Package: any of: pkg/driver/**
  ğŸ“¡ gRPC Factory Package: any of: pkg/grpcfactory/**
  ğŸ” IAM Client Package: any of: pkg/clients/iam/**
  ğŸŒ S3 Client Package: any of: pkg/clients/s3/**
  ğŸ”§ Util Package: any of: pkg/util/**
  ğŸ”– Constants Package: any of: pkg/constants/**
