Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: ğŸ Main Package, ğŸš— Driver Package, ğŸ“¡ gRPC Factory Package, ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package, ğŸ”– Constants Package

updated output variable to use for s3 and iam tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated s3 create bucket with prom observe
  pkg/clients/s3/s3_client.go
Due: ğŸŒ S3 Client Package

add prom timer to delete bucket
  pkg/clients/s3/s3_client.go
Due: ğŸŒ S3 Client Package

Updated metrics with aws sdk middelware
  pkg/clients/s3/s3_client.go
Due: ğŸŒ S3 Client Package

Updated iam metrics
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package

updated e2e tests to include iam and s3
  .github/scripts/e2e_tests_metrics.sh
  .github/workflows/e2e-feature-tests.yml
Due: none

added an if
  .github/scripts/e2e_tests_metrics.sh
Due: none

refactored to make common middleware prom function
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
  pkg/util/prometheus_middleware.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package

updated tests
  pkg/metrics/metrics_test.go
  pkg/util/prometheus_middleware.go
Due: ğŸ”§ Util Package

updated unit tests for metrics
  pkg/metrics/metrics_test.go
Due: none

update unit test for prom middleware
  pkg/util/prometheus_middleware_test.go
Due: ğŸ”§ Util Package

added more unit test
  pkg/util/prometheus_middleware_test.go
Due: ğŸ”§ Util Package

added error tests
  pkg/util/prometheus_middleware_test.go
Due: ğŸ”§ Util Package

done with unit tests
  pkg/util/prometheus_middleware.go
  pkg/util/prometheus_middleware_test.go
Due: ğŸ”§ Util Package

added unit test for testing metrics
  pkg/clients/iam/iam_client_test.go
Due: ğŸ” IAM Client Package

reverted unit test
  pkg/clients/iam/iam_client_test.go
Due: ğŸ” IAM Client Package

updated test with spec context
  pkg/driver/identity_test.go
Due: ğŸš— Driver Package

set GOCOVERDIR
  .github/workflows/build-and-unit-tests.yml
Due: none

env for cov dir with upload test results
  .github/workflows/build-and-unit-tests.yml
Due: none

add grpc traces
  pkg/grpcfactory/server.go
Due: ğŸ“¡ gRPC Factory Package

added otel packages
  go.mod
  go.sum
Due: none

updated s3 client otel config
  pkg/clients/s3/s3_client.go
  pkg/metrics/metrics.go
  pkg/util/otel_middleware.go
  pkg/util/prometheus_middleware.go
Due: ğŸŒ S3 Client Package, ğŸ”§ Util Package

updated req iD code as it is not taken into consideration
  pkg/clients/iam/iam_client.go
  pkg/util/otel_middleware.go
Due: ğŸ” IAM Client Package, ğŸ”§ Util Package

added traces
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
  pkg/util/otel_middleware.go
  pkg/util/prometheus_middleware.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package, ğŸ”§ Util Package

working tracing
  cmd/scality-cosi-driver/cmd.go
  go.mod
  go.sum
  pkg/grpcfactory/server.go
Due: ğŸ Main Package, ğŸ“¡ gRPC Factory Package

change span name
  pkg/util/otel_middleware.go
Due: ğŸ”§ Util Package

add otelaws
  go.mod
  go.sum
  pkg/clients/iam/iam_client.go
  pkg/clients/s3/s3_client.go
Due: ğŸ” IAM Client Package, ğŸŒ S3 Client Package

added custom tracing service name and removed redundant shutdown ctx
  cmd/scality-cosi-driver/cmd.go
Due: ğŸ Main Package

updated readme
  docs/development/run-cosi-driver-locally.md
Due: none

added propogation for traces
  cmd/scality-cosi-driver/cmd.go
Due: ğŸ Main Package

add stdtrue for kustomize and helm
  .github/scripts/setup_cosi_resources.sh
  .github/workflows/helm-validation.yml
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/values.yaml
  kustomize/base/deployment.yaml
Due: none

update e2e metrics tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

udpated middle ware tests
  pkg/util/prometheus_middleware_test.go
Due: ğŸ”§ Util Package

updated helm values keys
  helm/scality-cosi-driver/templates/deployment.yaml
  helm/scality-cosi-driver/values.yaml
Due: none

uodate user IAM tests
  .github/scripts/e2e_tests_metrics.sh
Due: none

updated helm command with otel_stdout from stdout
  .github/workflows/helm-validation.yml
Due: none

fixup
  .github/workflows/helm-validation.yml
Due: none

debug commit
  .github/scripts/verify_helm_install.sh
Due: none

updated describe command
  .github/scripts/verify_helm_install.sh
Due: none

Path conditions:
  ğŸ Main Package: any of: cmd/**
  ğŸš— Driver Package: any of: pkg/driver/**
  ğŸ“¡ gRPC Factory Package: any of: pkg/grpcfactory/**
  ğŸ” IAM Client Package: any of: pkg/clients/iam/**
  ğŸŒ S3 Client Package: any of: pkg/clients/s3/**
  ğŸ”§ Util Package: any of: pkg/util/**
  ğŸ”– Constants Package: any of: pkg/constants/**
