Repository scality/cosi-driver: changes, and which Codecov flags are due for each by the changed paths.
All: 🏠 Main Package, 🚗 Driver Package, 📡 gRPC Factory Package, 🔧 Util Client Package

codecov.yml:

comment:
  layout: newheader, reach, files, components, diff, flags # show component info in the PR comment
  hide_comment_details: true  # hide the comment details (e.g. coverage targets) in the PR comment

# Setting coverage targets
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      default:
        target: 100%
        threshold: 75%

github_checks:
  annotations: true

component_management:
  default_rules:
    statuses: []
  individual_components:
    - component_id: main-package
      name: 🏠 Main Package
      paths:
        - cmd/**
    - component_id: driver-package
      name: 🚗 Driver Package
      paths:
        - pkg/driver/**
    - component_id: grpc-factory-package
      name: 📡 gRPC Factory Package
      paths:
        - pkg/grpcfactory/**
    - component_id: util-client-package
      name: 🔧 Util Client Package
      paths:
        - pkg/util/**

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

COSI-44: add-tests-for-grpc-factory-server.go
  pkg/grpcfactory/grpc_factory_suite_test.go
  pkg/grpcfactory/server_test.go
Due: 📡 gRPC Factory Package

COSI-44: add-tests-for-grpc-factory.go
  pkg/grpcfactory/grpc_factory_test.go
Due: 📡 gRPC Factory Package

COSI-44: rename-driver-test-suite
  pkg/driver/driver_suite_test.go
Due: 🚗 Driver Package

fixup commit
  docs/development/run-cosi-driver-locally.md
Due: none

(fixup 2 post review) update parameters for createbucket
  docs/development/run-cosi-driver-locally.md
Due: none

updated docs and added .ci workflows.
  README.md
  docs/configuration/config-customization.md
  docs/configuration/config-values-reference.md
  docs/development/dev-container-setup.md
  docs/development/dev-guide.md
  docs/images/create-codespaces-from-github-ui.png
  docs/installation/install-dev-containers.md
  docs/installation/install-helm-local.md
  docs/installation/install-helm-oci.md
  docs/installation/install-kustomize.md
  docs/testing/test-e2e-local.md
  docs/testing/test-minikube-helm.md
  docs/testing/test-minikube-kustomize.md
Due: none

fixup
  README.md
Due: none

COSI-39: create-access
  go.mod
  go.sum
  pkg/util/iamclient/iamclient.go
Due: 🔧 Util Client Package

COSI-39: added-endpoint-to-iam-client
  pkg/util/iamclient/iamclient.go
Due: 🔧 Util Client Package

COSI-39: change base endpoint
  pkg/util/iamclient/iamclient.go
  pkg/util/s3client/s3client_test.go
Due: 🔧 Util Client Package

COSI-39: Add IAM client and associated tests
  go.mod
  go.sum
  pkg/util/iamclient/iamclient.go
  pkg/util/iamclient/iamclient_test.go
  pkg/util/s3client/s3client_test.go
Due: 🔧 Util Client Package

COSI-71: add-iam-client-and-associated-tests
  go.mod
  go.sum
  pkg/util/iamclient/iamclient.go
  pkg/util/iamclient/iamclient_test.go
  pkg/util/s3client/s3client_test.go
Due: 🔧 Util Client Package

COSI-39: standerdize-parameters-with-prefer-COSI_DRIVER
  .github/scripts/e2e_test_bucket_creation.sh
  cosi-examples/bucketclass.yaml
  cosi-examples/s3-secret-for-cosi.yaml
  docs/development/run-cosi-driver-locally.md
  docs/driver-params.md
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-39: add-logs-for-unimplemented-apis
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

further standerderdized the parameters
  .github/scripts/e2e_test_bucket_creation.sh
  cosi-examples/s3-secret-for-cosi.yaml
  docs/development/run-cosi-driver-locally.md
  docs/driver-params.md
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

updated OCIS_ variables and refactored client type
  docs/driver-params.md
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/util/config/config.go
  pkg/util/iamclient/iamclient.go
  pkg/util/iamclient/iamclient_test.go
  pkg/util/s3client/s3client.go
  pkg/util/s3client/s3client_test.go
Due: 🚗 Driver Package, 🔧 Util Client Package

refactoered test
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

updating local chnage for client interface
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

update clienttype
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

updated S3 Client
  pkg/driver/provisioner_server_impl.go
  pkg/util/s3client/s3client.go
  pkg/util/s3client/s3client_test.go
Due: 🚗 Driver Package, 🔧 Util Client Package

changed initIAMClient to InitClient
  pkg/driver/provisioner_server_impl.go
  pkg/util/iamclient/iamclient.go
  pkg/util/iamclient/iamclient_test.go
Due: 🚗 Driver Package, 🔧 Util Client Package

uncommented IAM client
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

updated client Type for S3
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

changed config to types
  pkg/driver/provisioner_server_impl.go
  pkg/util/iamclient/iamclient.go
  pkg/util/s3client/s3client.go
  pkg/util/types/types.go
Due: 🚗 Driver Package, 🔧 Util Client Package

re-organzie the server implementation methods
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

bucket access complete
  pkg/driver/provisioner_server_impl.go
Due: 🚗 Driver Package

added yaml files for bucekt access
  cosi-examples/bucketaccess.yaml
  cosi-examples/bucketaccessclass.yaml
Due: none

fix policy name and username for BA
  pkg/driver/provisioner_server_impl.go
  pkg/util/iamclient/iamclient.go
Due: 🚗 Driver Package, 🔧 Util Client Package

changed the kube keys for all yaml files to compluy with kube conventions and added the Iam ENdpoint
  .github/scripts/e2e_test_bucket_creation.sh
  cosi-examples/bucketaccessclass.yaml
  cosi-examples/bucketclass.yaml
  cosi-examples/s3-secret-for-cosi.yaml
  docs/development/run-cosi-driver-locally.md
  docs/driver-params.md
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/util/types/types.go
Due: 🚗 Driver Package, 🔧 Util Client Package

done with bucket access
  pkg/driver/provisioner_server_impl.go
  pkg/util/iamclient/iamclient.go
  pkg/util/s3client/s3client.go
  pkg/util/types/types.go
Due: 🚗 Driver Package, 🔧 Util Client Package

COSI-39: rename-params-per-kubernetes-conventions
  .github/scripts/e2e_test_bucket_creation.sh
  cosi-examples/bucketclass.yaml
  cosi-examples/s3-secret-for-cosi.yaml
  docs/development/run-cosi-driver-locally.md
  docs/driver-params.md
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-39: rename_and_move_files_to_clients_folder
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
Due: 🚗 Driver Package

COSI-39: refactor-and-enhance-storage-client-logic
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/util/storage_client.go
  pkg/util/storage_client_test.go
  pkg/util/util_suite_test.go
Due: 🚗 Driver Package, 🔧 Util Client Package

COSI-39: move-TLS-configuration-method-to-util
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/clients/s3/s3_client.go
  pkg/clients/s3/s3_client_test.go
  pkg/util/storage_client.go
  pkg/util/storage_client_test.go
Due: 🔧 Util Client Package

COSI-39: update-codecov-configuration
  codecov.yml
Due: none

COSI-39: add-bucket-access-related-yaml-files
  cosi-examples/bucketaccess.yaml
  cosi-examples/bucketaccessclass.yaml
Due: none

COSI-39: update-docs-for-grpccurl
  cosi-examples/bucketaccessclass.yaml
  docs/development/run-cosi-driver-locally.md
Due: none

COSI-39: added-aws-sdk-v2-iam-package-as-dep
  go.mod
  go.sum
Due: none

COSI-39: bucket-access-api
  cosi-examples/s3-secret-for-cosi.yaml
  pkg/clients/iam/iam_client.go
  pkg/clients/iam/iam_client_test.go
  pkg/driver/provisioner_server_impl.go
  pkg/driver/provisioner_server_impl_test.go
  pkg/util/storage_client.go
  pkg/util/storage_client_test.go
Due: 🚗 Driver Package, 🔧 Util Client Package
